<div style="height: 100%;min-height: 840px;" class="container main">
      <div class="mat-tab-user">
        <div class="user-tabs_user-photo">
          <img class="user-photo" onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" [src]="user.poster_url" alt="">
            <div *ngIf="!isMyUser" class="buttons-group">
              <button (click)="OnChat()" mat-raised-button class="user-btn">
                Написать сообщение
              </button>
              <div *ngIf="isWaiting">
                <button *ngIf="!isContact" (click)="AddContact()" mat-raised-button class="user-btn">
                  Добавить в друзья
                </button>
                <button *ngIf="isContact" (click)="removeContact()" mat-raised-button class="user-btn btn-remove">
                  Убрать из друзья
                </button>
              </div>
                <button *ngIf="!isWaiting" (click)="notWaiting(user.id)" mat-raised-button class="user-btn btn-remove">
                  Отменить запроc в друзья
                </button>
                <button *ngIf="!isBlock" (click)="blockUser(user.id)" mat-raised-button class="btn-block">
                  Заблокировать
                </button>
                <button *ngIf="isBlock" (click)="unBlockUser(user.id)" class="btn-unblock" mat-raised-button>
                  Разблокировать
              </button>
            </div>
        </div>
        <div class="user-discription">
          <!--           <h1 class="user-profile-text">Статус: <span class="user-status">Online</span></h1>
          <h1 class="user-profile-text">Группа: <span class="user-group">Администратор</span></h1> -->

          <h1 class="user-profile-text">Имя: <span class="user-info">{{user.name}}</span></h1>
          <h1 *ngIf="user.birth_date" class="user-profile-text">Возраст: <span class="user-info">{{user.birth_date}}</span></h1>
          <!-- <h1 *ngIf="user.country.name" class="user-profile-text">Страна: <span class="user-info">{{user.country.name}}</span></h1>
          <h1 *ngIf="user.city.name" class="user-profile-text">Город: <span class="user-info">{{user.city.name}}</span></h1> -->
          <p class="user-profile-text">Немного о себе: <span class="user-info">{{user.about}}</span></p>
          <!-- <h1 class="user-profile-text">Репутация: <span class="user-info">666 (Легенда НайтСити)</span></h1>
          <h1 class="user-profile-text">Друзей: <span class="user-info">5</span></h1> -->
          <!-- <h1 class="user-profile-text">Коментариев: <span class="user-info">100</span></h1> -->
        </div>
      </div>
      <app-favorite *ngIf="isMyUser" class="block" [film]="film"></app-favorite>
</div>
