<div [@enterAnimationPage]  class="player-buttons">
  <button *ngIf="!isHiddenKodic" mat-raised-button (click)="onPlayer('kodic')" [ngClass]="{'active': currentPlayer === 'kodic'}">Плеер
    RU</button>
  <button *ngIf="!isHiddenCdn" mat-raised-button (click)="onPlayer('cdn')" [ngClass]="{'active': currentPlayer === 'cdn'}">Плеер
    RU</button>
   <button *ngIf="!isHiddenUa" mat-raised-button (click)="onPlayer('ASHDI')" [ngClass]="{'active': currentPlayer === 'ASHDI'}">Плеер
    UA</button>  
</div>

<div [@enterAnimationPage]  class="player-container">
  <iframe [src]="this.srcPlayer" width="100%" height="480" scrolling="no" frameborder="0" allowfullscreen></iframe>
</div> 