.player-container {
  display: flex;
  justify-content: center;
}

#close-icon {
  color: white;
  position: absolute;
  right: -21px;
  font-size: 24px;
  cursor: pointer;
  top: -18px;
}

iframe {
  overflow: hidden;
}

button {
  background: #4e3892;
  color: white;
  margin: 9px;

  &:hover {
    color: white;
    background-color: #6653a1;
  }
}


button.active {
  background-color: #6847cd; // Здесь указываются стили для активной кнопки
}


@media (max-width: 480px) {
  iframe {
    height: 340px;
    width:340px;
  }
}