<nav id="navbar" (scroll)="onWindowScroll($event)"
  class="container navbar navbar-expand-lg navbar-light bg-light header">
  <div *ngIf="!isLargeScreen">
    <button class="search-icon-mobile" (click)="toggleSearchMobile(search.value)"><i
        class="fa fa-search search-icon"></i></button>
  </div>

  <div>
    <a class="brand" routerLink="" href="">INDIGOFILMS</a>
  </div>

<div *ngIf="!isLargeScreen">
  <div *ngIf="!login" mat-button (click)="openModal()" class="login2"><i class="fa fa-user-circle" aria-hidden="true"></i>
  </div>
  <div *ngIf="login" class="login">
    <!--  <i routerLink="/friends" class="fa fa-users user-nav" aria-hidden="true">
      <span class="icon-info">1</span>
    </i>
    <i routerLink="/message" class="far fa-envelope user-nav" aria-hidden="true">
      <span class="icon-info">1</span>
    </i>
      <i (click)="toggleBell()" class="far fa-bell user-nav" aria-hidden="true">
        <span class="icon-info">1</span>
      </i>  -->
    <i routerLink="/favorite" href="/favorite" class="fa fa-heart favorite-item" aria-hidden="true"></i>
    <div style="position: relative;">
      <img (click)="toggleMenu()" class="user-photo"
        onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" [src]="user.poster_small" alt="">
      <ul [@subMenuAnimation] class="menu-user" *ngIf="isMenuOpen">
        <li class="name-menu item-menu" href="/user-page" routerLink="/user-page"> <i class="fa fa-user menu-user-i"
            aria-hidden="true"></i>Профиль</li>
        <li class="name-menu item-menu" href="/user-settings" routerLink="/user-settings"> <i
            class="fa fa-cog menu-user-i" aria-hidden="true"></i>Настройки</li>
        <li class="name-menu item-menu" (click)="signOut()"> <i class="fa fa-sign-out menu-user-i"
            aria-hidden="true"></i>Выход</li>
      </ul>
    </div>
  </div>

</div>
<div *ngIf="isLargeScreen">
  <div *ngIf="login" class="login">
    <!--  <i routerLink="/friends" class="fa fa-users user-nav" aria-hidden="true">
      <span class="icon-info">1</span>
    </i>
    <i routerLink="/message" class="far fa-envelope user-nav" aria-hidden="true">
      <span class="icon-info">1</span>
    </i>
      <i (click)="toggleBell()" class="far fa-bell user-nav" aria-hidden="true">
        <span class="icon-info">1</span>
      </i>  -->
    <i routerLink="/favorite" href="/favorite" class="fa fa-heart favorite-item" aria-hidden="true"></i>
    <div style="position: relative;">
      <img (click)="toggleMenu()" class="user-photo"
        onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" [src]="user.poster_small" alt="">
      <ul [@subMenuAnimation] class="menu-user" *ngIf="isMenuOpen">
        <li class="name-menu item-menu" href="/user-page" routerLink="/user-page"> <i class="fa fa-user menu-user-i"
            aria-hidden="true"></i>Профиль</li>
        <li class="name-menu item-menu" href="/user-settings" routerLink="/user-settings"> <i
            class="fa fa-cog menu-user-i" aria-hidden="true"></i>Настройки</li>
        <li class="name-menu item-menu" (click)="signOut()"> <i class="fa fa-sign-out menu-user-i"
            aria-hidden="true"></i>Выход</li>
      </ul>
    </div>
  </div>
</div>
  
<div *ngIf="isLargeScreen">
  <button *ngIf="!login" mat-button (click)="openModal()" class="login2">Войти
  </button>
</div>
 

  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <mat-icon *ngIf="isCollapsed">reorder</mat-icon>
    <mat-icon *ngIf="!isCollapsed">clear</mat-icon>
  </button>


  <div [@subMenuAnimation] class="collapse navbar-collapse menu-header" [ngbCollapse]="isCollapsed">
    <div class="menu-search">
      <ul class="navbar-nav mr-auto ml-auto mt-1 mt-lg-1">
        <li class="nav-item">
          <a class="nav-link" routerLink="/film" href="/film" routerLinkActive="active">Фильмы
          </a>
          <button class="btn-menu" (click)="genreArrow($event)">
            <i id="isArrow1" class='fa fa-caret-down arrow btn-menu'></i>
          </button>
          <app-genre-menu [@subMenuAnimation] type="film" *ngIf="isArrow1"></app-genre-menu>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/serial" href="/serial">Сериалы
          </a>
          <button class="btn-menu" (click)="genreArrow($event)">
            <i id="isArrow2" class='fa fa-caret-down arrow'></i>
          </button>
          <app-genre-menu [@subMenuAnimation] type="serial" *ngIf="isArrow2"></app-genre-menu>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cartoon" href="/cartoon">Мультфильмы
          </a>
          <button class="btn-menu" (click)="genreArrow($event)">
            <i id="isArrow3" class='fa fa-caret-down arrow'></i>
          </button>
          <app-genre-menu [@subMenuAnimation] type="cartoon" *ngIf="isArrow3"></app-genre-menu>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/anime" href="/anime">Аниме
          </a>
          <button class="btn-menu" (click)="genreArrow($event)">
            <i id="isArrow4" class='fa fa-caret-down arrow'></i>
          </button>
          <app-genre-menu [@subMenuAnimation] *ngIf="isArrow4" type="anime"></app-genre-menu>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/collections" href="/collections">Подборки
          </a>
        </li> -->

        <li *ngIf="isLargeScreen" class="nav-item">
          <button class="nav-link" (click)="toggleSearch()"><i class="fa fa-search search-icon"></i></button>
        </li>
      </ul>
    </div>
    <app-search autofocus [@enterAnimation] class="input-search" *ngIf="isShown" appAutoFocusDirective
      (onSearchSubmmited)="searchClose($event)"></app-search>
  </div>
  <app-all-notifications *ngIf="isNotification"></app-all-notifications>
</nav>