footer {
    margin-top: 0px;
    width: 100%;
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
    padding: 15px;
}

.footer-text {
    font-size: 12px;
}

.footer-btn {
    margin-left: 10px;
    padding: 5px;
    &:hover {
        background:black;
    }
}