<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="pt-3">
      <!-- Section: Social media -->
      <section class="mb-1">

       <!--  <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-facebook-f"></i
        ></a>
  

        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-twitter"></i
        ></a>
  

        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-google"></i
        ></a>
  

        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-instagram"></i
        ></a>
  
  
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-linkedin"></i
        ></a>
    
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-github"></i
        ></a> -->
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-1 footer-text">
      © 2022 Copyright:
      <a style="text-decoration: none" class="text-light" href="#">IndigoFilms</a>
    </div>
    <!-- Copyright -->
  </footer>