footer {
    background-color: rgb(36 35 35);
    box-shadow: inset 0px 3px 32px 1px rgb(0 0 0 / 76%);
    margin-top: 0px;
    position: absolute;
    width: 100%;
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.footer-text {
    font-size: 12px;
    background-color: rgb(40 36 36 / 26%);
}