footer {
    margin-top: 0px;
    width: 100%;
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
    padding: 15px;
}

.footer-text {
    font-size: 12px;
}

.footer-btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    &:hover {
        background: #4c3f93;
    }
}