<div class="block">
    <ul>
        <li>
            <div class="notifaction-body">
                <div>
                    <h4><i class="fa fa-comments icon-notifaction" aria-hidden="true"></i>Комментарии</h4> 
                </div>
                <div>
                    <p class="time-notic">18:19</p>  
                </div>
            </div>
            <p><span>Aleks</span>вам поставил лайк</p>
        </li>
        <li>
            <div class="notifaction-body">
                <div>
                    <h4><i class="fa fa-commenting icon-notifaction" aria-hidden="true"></i>Личные сообщения</h4> 
                </div>
                <div>
                    <p class="time-notic">18:19</p>  
                </div>
            </div>
            <p><span>Aleks</span>вам написал в личные сообщения</p>
        </li>
        <li>
            <div class="notifaction-body">
                <div>
                    <h4><i class="fa fa-comments icon-notifaction" aria-hidden="true"></i>Комментарии</h4> 
                </div>
                <div>
                    <p class="time-notic">18:19</p>  
                </div>
            </div>
            <p><span>Aleks</span>овтетил на ваш комментарии</p>
        </li>
        <li>
            <div class="notifaction-body">
                <div>
                    <h4><i class="fa fa-television icon-notifaction" aria-hidden="true"></i>Cовместный просмотр</h4> 
                </div>
                <div>
                    <p class="time-notic">18:19</p>  
                </div>
            </div>
            <p><span>Aleks</span>пригласил вас в комнату</p>
           
        </li>

        <li>
            <div class="notifaction-body">
                <div>
                    <h4><i class="fa fa-user-plus icon-notifaction" aria-hidden="true"></i>Заявка в друзья</h4> 
                </div>
                <div>
                    <p class="time-notic">18:19</p>  
                </div>
            </div>
            <p><span>Aleks</span>хочет стать вашим другом</p>
           
        </li>
    </ul>
</div>