<div class="container block">
    <div class="watch-together">
        <div class="watch-together_room">
            <h1 class="watch-together_title">Комната</h1>
            <div class="watch-together_room-history">
                <div class="watch-together_user-setting">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <button class="watch-btn btn-red" mat-raised-button>Выгнать</button>
                    <button class="watch-btn"  mat-raised-button>Передать лидера</button>
                </div>
                <div class="watch-together_user-setting">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <button class="watch-btn btn-red" mat-raised-button>Выгнать</button>
                    <button class="watch-btn"  mat-raised-button>Передать лидера</button>
                </div>
                <div class="watch-together_user-setting">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <button class="watch-btn btn-red" mat-raised-button>Выгнать</button>
                    <button class="watch-btn"  mat-raised-button>Передать лидера</button>
                </div>
                <div class="watch-together_user-setting">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <button class="watch-btn btn-red" mat-raised-button>Выгнать</button>
                    <button class="watch-btn"  mat-raised-button>Передать лидера</button>
                </div>
                <div class="watch-together_user-setting">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <button class="watch-btn btn-red" mat-raised-button>Выгнать</button>
                    <button class="watch-btn"  mat-raised-button>Передать лидера</button>
                </div>
                <button mat-raised-button class="watch-btn btn-friend">Добавить друга</button>
            </div>
        </div>
        <div class="watch-together_chat">
            <h1 class="watch-together_title">Чат</h1>
            <div class="message-history">
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="message-me">
                    <div class="avatar">
                        <img class="avatars-comments"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA73D3QltIDvk4GCa1fzqINVgO-enubpjIg&usqp=CAU">
                        <a class="message-username" routerLink="/user-page">Aleks</a>
                    </div>
                    <p class="message-text-me">Салам алейкум <span class="meassage-time">18:43</span>
                    </p>
                </div>
                <div class="row">
                    <div id="message-form">
                        <textarea class="col" rows='1' placeholder="Написать сообщение"></textarea>
                        <button mat-raised-button class="col-4 message-btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>