.watch-together {
    display: flex;
    justify-content: center;
    padding: 26px 0px;
    .watch-together_chat {
        color: white;
        height: 100%;
        width: 100%;
        max-width: 552px;
        border: none;
        .watch-together_title {
            margin: 0;
            text-align: center;
            padding: 12px;
            background: #41288d;
        }
    }
    .watch-together_room {
        color: white;
        border: 1px solid grey;
        border: none;
        border-bottom: 1px solid #80808047;
        .watch-together_title {
            margin: 0;
            text-align: center;
            padding: 12px;
            background: #41288d;
        }
        .watch-together_room-history {
            border: 1px solid rgba(193, 181, 181, 0.1607843137);
            border-right: none;
            border-right: none;
            padding: 23px;
            font-size: 16px;
            text-align: center;
            border: none;
            border-left: 1px solid #80808047;
            .watch-together_user-setting {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 30px 0;
                .watch-btn {
                    background: #573aad;
                    color: white;
                    margin-left: 10px;
                    height: 37px;
                }
                .btn-red {
                    background: #781f1f;
                }
            }
        }
    }
    .watch-btn {
        background: #573aad;
        color: white;
        margin-left: 10px;
        height: 37px;
    }
    .btn-friend {
        background: #6b1670;
    }
}

.message-history {
    border: 1px solid rgba(193, 181, 181, 0.1607843137);
    height: 100%;
    min-height: 450px;
    padding: 20px;
    border-left: none;
    font-size: 16px;
    text-align: center;
    max-width: 580px;
    border-left: 1px solid #80808047;
    border-right: 1px solid #80808047;
    border-bottom: 1px solid #80808047;
    .message-me {
        display: flex;
        justify-content: flex-start;
        margin-top: 12px;
    }
    .message-friend {
        padding-left: 10px;
        display: flex;
    }
}

.message-text-friend {
    padding: 10px;
    margin-top: 3px;
    background: #3c3a3a;
    max-width: 377px;
    border-radius: 5px;
}

.message-text-me {
    padding: 10px;
    margin-top: 3px;
    max-width: 377px;
    background: #38377c;
    border-radius: 5px;
}

.message-avatar {
    max-width: 71px;
    border: 1px solid transparent;
    border-radius: 67px;
    align-self: center;
    margin-right: 9px;
}

.meassage-time {
    font-size: 9px;
    color: #9594e5;
    margin-left: 6px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .message-username {
        font-size: 13px;
        color: white;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
            color: purple;
        }
    }
}

.avatars-comments {
    max-width: 56px;
    max-height: 42px;
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
    margin-right: 10px;
}

#message-form {
    margin: 0;
    width: 100%;
    padding: 24px;
    height: 100%;
    background-color: #121111;
    border-left: 1px solid #2e2b2b;
    display: inline-flex;
}
textarea {
    overflow: hidden;
    margin: 0;
    padding: auto;
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
}
.message-btn {
    margin-left: 10px;
    background: #573aad;
    color: white;
}

.navigate {
    border: 1px solid;
    height: 100%;
    overflow: auto;
    max-height: 729px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background: #2700ff3d;
}

.container {
    padding: 0;
}

li {
    border: 1px solid rgba(193, 181, 181, 0.1607843137);
    border-top: none;
    border-bottom: none;
}

.nav-item {
    padding: 9px 0;
    font-size: 19px;
    border-left: none;
    cursor: pointer;
    &:hover {
        background-color: #573aad;
    }
}
