div {
    color: white;
}


.contact-form {
 text-decoration: none;
}

ul {
    padding: 0px 32px;
    font-size: 14px;
}

li {
    margin-top: 5px;
    font-family: 'TT NORMS PRO REGULAR,HELVETICA,SANS-SERIF';
}

a {
   color: #ff63ec;;
}

.copyright {
    padding: 15px;
}


h1 {
    font-size: 16px;
}

p {
    font-family: 'TT NORMS PRO REGULAR,HELVETICA,SANS-SERIF';
    font-size: 14px;
}

h2 {
    font-size: 16px;
    color: #e141e1;
    font-weight: bold;
}