<div style="min-height: 100%" class="container main">
    <div class="copyright">
        <h1>Правообладателям</h1>
        <h2>Ресурс INDIGOFILMS действует в соответствии с законодательством о защите информации и авторских прав. </h2>

        <p>Весь размещенный на сайте контент представляет собой материал, находящийся в свободном доступе для просмотра
            и скачивания в сети Интернет.
            Сбор доступных в Интернете материалов и их размещение в каталоге осуществляется в автоматическом режиме.
            Администрация сайта в данном случае не осуществляет контроль над добавляемым контентом.</p>

        <p>Администрация сайта также не осуществляет деятельность, связанную с публикацией нелицензионного контента,
        незаконно украденного и находящегося под защитой правообладателей.
        Автоматизированная система публикует только находящийся в свободном доступе материал из открытых источников.</p>

        <h2>Ресурс INDIGOFILMS всегда открыт для сотрудничества с правообладателями. </h2>

        <p> Если Ваши исключительные права на объекты авторской собственности нарушаются каким-либо
            образом с использованием данного ресурса (размещение информации, защищенной авторским правом), администрация
            готова оказать
            Вам содействие и удалить с сайта соответствующие материалы.</p>
            
            <p>При возникновении спорных ситуаций мы просим Вас прислать нам письмо в электронном виде, где необходимо
                указать следующее:<p>
                    <p>1. Документальное подтверждение Ваших прав на материал, защищённый авторским правом:</p>
        <ul>
            
            <li> отсканированный документ с печатью, либо</li>
            <li> email с официального почтового домена компании правообладателя, либо</li>
            <li> иная информация, позволяющая однозначно идентифицировать Вас как правообладателя данного материала.
            </li>
        </ul>


        <p>2. Прямые ссылки на страницы сайта, которые содержат данные, опубликованные с нарушением авторских прав.</p>

           <p> При получении письма, содержащего данное подтверждение, в течение 48 часов мы удалим с сайта защищенный
            авторским правом контент.
            Либо по вашей же просьбе заменим материал на вас устраивающий плеер с легального онлайн кинотеатра или
            канала YouTube.
        </p>
        <p>
            По вопросам просим Вас обращаться на email: <a class="contact-form" href="/">indigo.best.corporation@gmail.com</a> <!--  или <a class="contact-form" href="/">форму
                обратной связи</a>. -->
        </p>

    </div>

</div>