<ul *ngIf="isBlock" style="min-height: 633px;">
    <li *ngFor="let bannedUser of bannedUsers" class="nav-item">
        <div class="avatar">
            <div class="content-block">
                <div class="content-head" style="display: flex;">
                    <img onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" class="avatars-comments"
                        src="{{bannedUser.poster_url}}">
                    <div class="user-block">
                        <a class="message-username"
                            routerLink="/user-page/{{bannedUser.id}}">{{bannedUser.name}}</a>
                        <p class="message-user_status">
                            В сети
                        </p>
                    </div>
                </div>
                <div>
                    <button (click)="unblockUser(bannedUser.id)" class="btn-unblock" mat-raised-button>
                        Разблокировать
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="wrapper" *ngIf="isWrapper">
    Пусто
</div>