<div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">Вы точно хотите удалить контакт?</div>
  <div class="modal-footer">
    <button mat-raised-button type="button" id="btn-stop" class="btn btn-secondary " (click)="modalRef.close()">
      Закрыть
    </button>
    <button mat-raised-button id="btn-delete" (click)="deleteContact()" class="btn btn-secondary">Удалить контакт</button>
  </div>