<div *ngIf="favoriteFilms.length" style="min-height:100%; position: relative;" class="container main block">
  <div class="row card-row">
    <h1 routerLink="/favorite" class="favorite-title">Избранные</h1>

    <div *ngFor="let card of favoriteFilms.slice(0,6)" class="card col-md-3" style="width: 18rem;">
      <div class="card-head">
        <a routerLink="/card-profile/{{card.id}}">
          <img class="filters__img" src="{{card.poster_url}}">
        </a>
      </div>
      <div routerLink="/card-profile/{{card.id}}" class="card-play-ic">
        <i class="fa fa-play" aria-hidden="true"></i>
        <p class="card-icon_text">Смотреть</p>
      </div>
      <div class="card_body">
        <a routerLink="/card-profile/{{card.id}}" class="film-title">{{card.title}}</a>
        <p class="card-genre"><span class="genre-div"
            *ngFor="let genre of card.genres.slice (0, 1);">{{genre.title}},</span> <span class="card-year">
            {{card.year}}</span> </p>
            <div *ngIf="card.imdb_rating" class="imdb">IMDB {{card.imdb_rating}}</div>
            <div *ngIf="card.shiki_rating">
              <div class="shiki">SHIKIMORI {{card.shiki_rating}} </div>
            </div>
      </div>
    </div>
  </div>