<form [formGroup]= "loginForm">
  <div class="form-group">
    <label for="inputUsernameEmail">Email</label>
    <input type="text" tabindex="-1" autofocus="0" placeholder="Введите Email" class="form-control" formControlName="email">
    <div class="auth-error" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
      Заполните поле Email
    </div>
    <div class="auth-error" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
      Неправильный Email
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Пароль</label>
    <div style="position: relative;">
      <input [type]="show ? 'text' : 'password'" tabindex="-1" placeholder="Введите Пароль" class="form-control" formControlName="password">
      <button class="icon-pass-eye" (click)="passwordEye()">
          <i *ngIf="!show" class="far fa-eye"></i>
          <i *ngIf="show"class="far fa-eye-slash"></i>
        </button>
  </div>
    <div class="auth-error" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
      Заполните поле Пароль
    </div>
     <div style="display: flex; justify-content: flex-end;">
      <a tabindex="-1" class="btn-remember" (click)="close()" routerLink="/remember-pass" href="/remember-pass">Забыл пароль?</a>
    </div>
    
    <div class="auth-error" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] && (password.touched || password.dirty)">
      Пароль должен быть минимум 6 символов
    </div>
  </div>
 <!--  <div class="checkbox pull-right">
    <label>
      <input type="checkbox">
      Запомнить</label>
  </div> -->
  <div>

  </div>
  <button tabindex="-1" mat-raised-button (click)="logIn()" type="submit" class="login">
    Войти
  </button>
  <button tabindex="-1" mat-raised-button routerLink="/reg" href="/reg" (click)="close()" class="btn-reg">
    Регистрация
  </button>
</form>