<div class="comments-head">
    <hr>
    <div class="wrapper">
        <div class="flex" *ngIf="user">
            <img class="avatars-comments" onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';"
                src="{{user.poster_url}}">
                <a routerLink="/user-page" href="/user-page" class="comments-user">{{user.name}}</a>
              <!--   <a class="comments-user admin">Администратор</a> -->
        </div>
        <div>
            <div class="form-group">
                <textarea [(ngModel)]="textArea" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="1"
                    placeholder="Напишите ваш отзыв"></textarea>
                    <button class="smile-btn" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                    <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
            </div>
            <button (click)="postOnBtn()" type="submit" mat-raised-button class="btn btn-danger btn-comment">Оставить отзыв</button>
        </div>
    </div>
</div>
