
<div style="min-height: 100%" class="container main">
        <app-swiper></app-swiper>
        <app-card-main style="min-height: 100%" category="film" [data]="film | async"></app-card-main>
        <app-card-main style="min-height: 100%" category="serial" [data]="serial | async"></app-card-main>
        <app-card-main style="min-height: 100%" category="anime" [data]="anime | async"></app-card-main>
        <app-card-main style="min-height: 100%" category="cartoon" [data]="cartoon | async"></app-card-main>
</div>