.container .btn-block {
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif" !important;
}

body {
    padding-top: 15px;
    font-size: 12px;
}
.main {
      padding: 17px;
      background-color: rgb(26, 25, 35);
      color: white;
      width: 100%;
      border-radius: 5px;
      min-width: 500px;
      position: relative;
      box-shadow: inset 0 0px 0px 0px rgb(0 0 0);
      background: linear-gradient(364deg, #000000, #5e2359);
}

.reg-link {
    color: #ff00f2;
}

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: none !important;
}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h3 {
    text-align: center;
    line-height: 300%;
}

.social {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.pull-right {
    color: white;
}

#close-icon {
    position: absolute;
    right: -4px;
    bottom: 30px;
    font-size: 21px;
    top: 1px;
}

@media screen and (max-width: 600px) {
    .main {
        margin: 0 auto;
        padding: 18px;
        background-color: #320091;
        color: white;
        width: 100%;
        position: relative;
    }
}
