.flex-col {
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
}

button {
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
}

p {
    font-family: "TT Norms Pro Light,Helvetica,sans-serif";
    font-size: 12px;
}

.chat-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid;
    overflow: auto;
    height: 100%;
    max-height: 703px;
}


.avatars-comments {
    max-width: 74px;
    border: 1px solid transparent;
    border-radius: 67px;
    align-self: center;
}

.message-username {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
    font-size: 14px;
}

.message-user_status {
    font-family: "TT Norms Pro Light,Helvetica,sans-serif";
    font-size: 10px;
    color: #399d58;
    font-weight: bold;
}

.delete-chat {
    background: none;
    color: #7b79e7;
    font-size: 18px;
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
    &:hover {
        color: red
    }
}

.avatar {
    display: flex;
    align-items: center;
    padding: 0px 13px;
}

.nav-item {
    position: relative;
    color: grey;
    border-bottom: 1px solid #2e2b2b;
    margin-top: 14px;
    cursor: pointer;
    &:hover {
        background: #3d3948;
    }
}

.user-block {
    margin-top: 10px;
    margin-left: 12px;
}

.form-search {
    padding: 13px;
}

.btn-add-friend {
    width: 100%;
    background-color: #573aad;
    color: white;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.nav-item{
    border: none;
}
.nav-item:first-child {
    border:none;
}
.nav-item:last-child {
    border:none;
}
