<div style="min-height:100%">
    <div class="flex-col">
         <form FormGroup="searhForm" class="form-search form-inline form-search">
            <div class="form-group">
                <input (keyup)="onKeyupEvent($event)" class="form-control mr-sm-2 input-search" placeholder="Поиск">
            </div>
        </form> 
        <ul class="chat-list" infinite-scroll
        [infiniteScrollDistance]="0"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScroll()">
            <li>
                <button (click)="openModaladdContact()" mat-raised-button class="btn-add-friend">
                    Добавить в друзья
                </button>
            </li>
            <li (click)="OnChat(contact.id)" *ngFor="let contact of contacts" class="nav-item">
                <div *ngIf="contact.id != myUser.id" class="avatar">
                    <div style="display: flex;">
                        <img onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';"
                            class="avatars-comments" src="{{contact.poster_url}}">
                        <div class="user-block">
                            <a class="message-username" routerLink="/user-page/{{contact.id}}">{{contact.name}}</a>
                            <p class="message-user_status">
                                Онлайн
                            </p>
                        </div>
                    </div>
                </div>
                <button (click)="openModal(contact.id)" class="delete-chat"><i class="fa fa-close"></i></button>
            </li>
        </ul>
    </div>
</div>