<div [@enterAnimationPage] class="container container-card">
    <div *ngIf="isPlayer">
        <app-player *ngIf="film" style="height: 500px;" [film]="film"></app-player>
    </div>
    <div *ngIf="!isPlayer">
        <app-player *ngIf="film" style="height: 500px;" [film]="film"></app-player>
    </div>
    <div class="share">
        <p class="share-txt">Расскажи друзьям о своих впечатлениях:</p>
        <button class="btn-share" (click)="shareOnTelegram()">
            <img class="share-icon" src="assets/icons-telegram.png">

        </button>
        <button class="btn-share" (click)="shareOnFacebook()">
            <img class="share-icon" style="width: 32px;" src="assets/icons-facebook.png">
        </button>

    </div>
    <div class="buttons-bl">
        <div class="content-card">
            <div *ngIf="film" class="poster">
                <div style="position: relative;">
                    <img onerror="if(this.src != 'error.jpg') this.src = 'assets/error-404.avif';" class="card-image"
                    alt="{{film.title}}" [src]="film.poster">
                     
                    <div class="buttons">
                        <!--  <button style="margin-left: 0" (click)="change(false)" mat-raised-button class="card-btn">
                            <i class="fas fa-play-circle"></i>
                            Смотреть вместе
                        </button> -->
                        <button [@enterAnimationText] (click)="postFavorite()" *ngIf="!film.isFavorite"
                            class="favorite">
                           
                            <input style="display: none" id="favorite" type="checkbox">
                            <i class="fa fa-heart favorite-ic" aria-hidden="true"></i>
                        </button>

                        <button [@enterAnimationText] (click)="removeFavorite()" *ngIf="film.isFavorite"
                            class="favorite">
                          
                            <input style="display: none" id="favorite" checked type="checkbox">
                            <i class="fa fa-heart favorite-ic" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="discriptionforfilm">
                   <div>
                    <div class="title-and-raiting">
                        <div class="raiting-box">
                            <div id="imdb" *ngIf="film.imdb_rating">IMDb {{film.imdb_rating}}</div>
                            <div id="shiki" *ngIf="film.shiki_rating && film.shiki_rating !== '0.00'">
                              SHIKIMORI {{film.shiki_rating}}
                            </div>
                        </div>
                        <h1 class="card-title-ru">{{film.title}}</h1>
                        <h1 style="margin-left: 0" class="card-title-original">{{film.original_title}}</h1>
                    </div>
                   </div>
                    
                    
                    <div class="cont">
                        <div class="stars">
                            <ngb-rating [max]="5" ([film])="film" (click)="postStars()"
                                [formControl]="raitingControl"></ngb-rating>
                            <span *ngIf="film.stars" class="stars-number">{{film.stars | number:'1.1-1'}}</span>
                            <span class="stars-number" *ngIf="!film.stars">0</span>
                            <!--  <ngx-star-rating (click)="post Stars()" [(ngModel)]="rating3" [id]="'rating3'"></ngx-star-rating><span> {{ rating3 }}</span>
                                <div>Rating: {{rating3}}</div>  -->
                        </div>

                    </div>
                    <div class="discription-text-block">
                        <span class="overview-item">
                            <p class="discription-text up-btn">{{film.year}}</p>
                        </span>

                        <span class="overview-item" *ngFor="let country of film.countries.slice(0,2)">
                            <p class="discription-text up-btn">{{country.title}}</p>
                        </span>
                        <!--   <p *ngIf="film.runtime" class="discription-text">{{film.runtime}} минуты</p> -->
                    </div>
                    <div class="genre-block">
                        <span class="genre-item" *ngFor="let genre of film.genres">
                            <p class="discription-text down-btn" routerLink="/{{category}}/genre/{{genre.id}}"
                                href="/{{category}}/genre/{{genre.id}}"> {{genre.title}} </p>
                        </span>
                    </div>

                </div>

            </div>
        </div>
        <div *ngIf="film" class="block-title">
            <div style="position: relative;">
                <h1 class="overviewFilm">Про что {{nameType[category]}} «{{film.title}}» :</h1>
                <div *ngIf="!textView">
                    <p class="t">{{film.overview}}
                    </p>
                </div>
                <div [@enterAnimationPage] *ngIf="textView">
                    <p class="textOverview">{{film.overview}}
                    </p>
                </div>
                <a *ngIf="!textView" class="moreTextBtn" (click)="moreText()">Подробнеe</a>
                <a *ngIf="textView" class="moreTextBtn" (click)="backText()">Свернуть</a>
            </div>


        </div>
        <div style="position:relative">
            <!--   <app-card-swiper></app-card-swiper> -->

        </div>
    </div>