<div [@enterAnimation] class="comments-body">
    <div *ngIf="comment" class="avatar">
        <img class="avatars-comments img-responsive"
            onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" src="{{comment.user.poster_small}}">
        <a (click)="onLogin()" class="comments-user">{{comment.user.name}}</a>
        <p class="comments-item">{{comment.created_at | date:"d MMMM y":"ru"}}</p>
    </div>
    <div class="comments-block">
        <p class="comment-text">
            {{comment.body}}
        </p>
        <div class="icons-comments">
            <div class="comment-nav">
                <label (click)="changeLike(true)">
                    {{comment.likes_count}}
                    <i [class.active]="comment.like && comment.like.is_like === true" class="fas fa-thumbs-up like">
                    </i>
                </label>
                <label (click)="changeLike(false)">
                    {{comment.dislikes_count}}
                    <i [class.active]="comment.like && comment.like.is_like === false"
                        class="fas fa-thumbs-down dislike">
                    </i>
                </label>
            </div>
            <div class="comment-nav">
                <a mat-raised-button class="comments-item_write-com" (click)="toggleShow()" type="checkbox">Ответить</a>
            </div>

        </div>
    </div>
</div>


<div *ngIf="isShown">
    <div class="comment-guard" *ngIf="!login">
        Для того чтобы оставить свой отзыв, вам нужно <span (click)="openDialog()" class="login">войти</span> или
        <span routerLink="/reg" href="/reg" class="login">зарегистрироваться</span>.
    </div>
    <div *ngIf="login">
        <app-commentform (commentPosted)="onCommentPosted({comment:$event, parentId:null})" [comment]="comment"
            [filmId]="filmId" [parentId]="comment.parent_id"></app-commentform>
    </div>
</div>

<div *ngIf="isCollapsed">
    <app-subcomment *ngFor="let comment of comment.answers" [filmId]="filmId" [comment]="comment"></app-subcomment>
</div>