body {
    min-height: 100% !important;
}

.scroll-to-top{
    position: fixed;
    border: none;
    color: white;
    background-color: #573aadb8;
    bottom: 11px;
    right: 10px;
    cursor: pointer;
    border-radius: 29px;
    z-index: 3;
  }

  .fa-arrow-up {
    font-size: 32px;
    padding: 12px;
  }