<div class="container main block">
  <h1 class="title-new_film">Новинки</h1>
  <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
    <ng-template *ngFor="let card of data" swiperSlide>
        <div class="card">
          <div class="card-head">
            <a routerLink="/card-profile/{{card.id}}">
              <img class="filters__img" src="{{card.poster_url}}">
            </a>
          </div>
          <div routerLink="/card-profile/{{card.id}}" class="card-play-ic">
            <i class="fa fa-play" aria-hidden="true"></i>
            <p class="card-icon_text">Смотреть</p>
          </div>
          <div class="card_body">
            <a routerLink="/card-profile/{{card.id}}" class="film-title">{{card.title}}</a>
            <p class="card-genre"><span class="genre-div"
                *ngFor="let genre of card.genres.slice (0, 1);">{{genre.title}},</span> <span class="card-year">
                {{card.year}}</span> </p>
            <div *ngIf="card.imdb_rating" class="imdb-raiting">IMDb {{card.imdb_rating}}</div>
            <div *ngIf="card.shiki_rating" class="shiki-raiting">
              <div class="shiki-logo">SHIKIMORI</div>
              <h1 class="raiting">{{card.shiki_rating}}</h1>
            </div>
          </div>
        </div>
    </ng-template>
  </swiper>
</div>
<router-outlet></router-outlet>