body {
    padding-top: 15px;
    font-size: 12px;
}

.container {
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif" !important;
}


.reg-link {
    color: #ff00f2;
}

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: none !important;
}
.login-or {
    position: relative;body {
    padding-top: 15px;
    font-size: 12px;
}
.main-r {
    max-width: 604px;
    margin: 0 auto;
    padding: 34px;
    color: white;
}

.reg-link {
    color: #ff00f2;
}

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: none !important;
}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h3 {
    text-align: center;
    line-height: 300%;
}

.social {
    margin-top: 24px;
}

.pull-right {
    color: white;
}

    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-sub {
    margin-top: 10px;
}

.form-group {
    margin-top: 16px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h3 {
    text-align: center;
    line-height: 300%;
}

.social {
    margin-top: 24px;
}

.pull-right {
    color: white;
}


.auth-error{
    color: #c93c3c;
    font-size: 15px;
    font-weight: bold;
}

.block {
    padding: 31px;
}

.form-control {
    max-width: 500px;
}

.reg-form {
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 1rem;
    margin-top: 26px;
    display: grid;
    grid-gap: 64px;
}

.reg-label {
    color: white;
    font-size: 12px;
}

.reg-title {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
