.modal-body {
    display: flex;
    justify-content: center;

    color: white;
    font-size: 16px;
}

.modal-header {
    border: none;
}

.btn-close {
    position: absolute;
    right: 16px;
    background: none;
    border: none;
    color: #fff4f4;
    padding: 0;
    top: 9px;
}

.modal-container {
    box-shadow: inset 0 0px 0px 0px rgb(0 0 0);
    background: linear-gradient(364deg, #000000, #5e2359);
    position: absolute;
    top: 225px;
    width: 100%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    border: none;
    #btn-delete {
        border: none;
        color: white;
        background-color: #573aad;
    }

    #btn-stop {
        border: none;
        color: white;
        background-color: #573aad;
    }
}
