<div class="container container-card">
    <div class="card-block-title">
        <h1 class="card-title">{{film.title}}
            <p class="card-title-second">{{film.original_title}}</p>
        </h1>
    </div>
    <app-player style="height: 500px;" [film]="film"></app-player>
    <button (click)="onChange(true)"> Назад</button>
    <app-watch-settings></app-watch-settings>
    <div class="block-title">
        <h1 class="discription-film title-film">Описание</h1>
        <p class="t">{{film.overview}}</p>
    </div>
    <div class="content-card">
        <div class="poster">
            <img class="card-image" src="{{film.poster_url}}">
        </div>
        <div class="container">
            <div class="discription">
                <h1 class="discription-film tt">Рейтинг:
                    <div *ngIf="film.imdb_rating" class="imdb-raiting">IMDb {{film.imdb_rating}}</div>
                    <div *ngIf="film.shiki_rating" class="shiki-raiting">
                        <div class="shiki-glyh"></div>
                        <div class="shiki-logo"></div>
                        <h1 class="raiting">{{film.shiki_rating}}</h1>
                    </div>
                </h1>
                <h1 class="discription-film tt">Дата выхода:
                    <p>{{film.release_date | date:"d MMMM y":"ru"}}</p>
                </h1>
                <h1 class="discription-film tt">Страна:
                    <p *ngIf="!film.is_anime"> Example<span *ngFor="let country of film.countries">{{country.title}}
                        </span> </p>
                </h1>
                <h1 class="discription-film tt">Режиссер:
                    <p *ngIf="!film.is_anime" style="color: #a9a6a6;" class="tt1">Арт Камачо</p>
                </h1>
                <h1 class="discription-film tt">Жанр:
                    <p class="genre-div" *ngFor="let genre of film.genres">{{genre.title}} </p>
                </h1>
                <h1 class="discription-film tt">Время:
                    <p>{{film.runtime}} минуты</p>
                </h1>
                <h1 class="discription-film tt">
                    Актеры:
                    <p *ngIf="!film.is_anime">Ричард Греко, Эндрю Дайс Клэй, Энджи Эверхарт, Джон Инос III, Зак
                        Гэллиган,
                        Айс-Ти, Дженнифер О’Делл, Себастьян Бах, Бобби Янгs, Джим Маниачи и другие</p>
                </h1>
            </div>
        </div>
    </div>
</div>