<ul *ngIf="isOutComes">
    <li *ngFor="let outCome of outComes" class="nav-item">
        <div class="avatar">
            <div class="content-block">
                <div class="content-head" style="display: flex;">
                    <img onerror="if(this.src != 'error.jpg') this.src = 'assets/avatar.jpg';" class="avatars-comments"
                        src="{{outCome.user.poster_url}}">
                    <div class="user-block">
                        <a class="message-username"
                            routerLink="/user-page/{{outCome.user.id}}">{{outCome.user.name}}</a>
                        <p class="message-user_status">
                            В сети
                        </p>
                    </div>
                </div>
                <div>
                    <button mat-raised-button (click)="destroyRequest(outCome.id)" class="btnDanger">Отменить</button>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="wrapper" *ngIf="isWrapper"> 
    Нету запросов
</div>