.container {
  font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
  padding-top: 10px;
}

.card-title {
  font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
  font-weight: bold;
  background: linear-gradient(222deg, #2222a0, #a81c9c);
  box-shadow: inset 0px 3px 32px 1px rgb(0 0 0 / 76%);
  border-radius: 5px;
  max-width: 100%;
  cursor: pointer;
  width: 100%;
  padding: 10px 10px;
  color: white;
  font-size: 18px;
  display: block;
  text-decoration: none;
  margin: 0;
}

.card-row {
  display: grid;
  grid-template-columns: 215px 215px 215px 215px 215px 215px;
  margin: 0 6px 0 7px;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 360px) and (max-width: 720px) {
  .card-row {
    margin: 0 5px 0 0px;
    padding-bottom: 89px;
  }
}



@media screen and (min-width: 390px) and (max-width: 844px) {
  .card-row {
    display: flex;
    justify-content: center;
  }
}






@media screen and (min-width: 360px) and (max-width: 720px) {
  .card-row {
    display: grid;
    grid-template-columns: 34% 34% 32%;
  }
}

@media screen and (min-width: 390px) and (max-width: 844px) {
  .card-row {
    display: grid;
    grid-template-columns: 34% 34% 35%;
  }
}

@media screen and (min-width: 412px) and (max-width: 915px) {
  .card-row {
    display: grid;
    grid-template-columns: 34% 33% 35%;
  }
}


@media all and (max-width: 900px) {
  .card-row {
    display: grid;
    grid-template-columns: 40% 32% 39%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-row {
    display: grid;
    grid-template-columns: 15% 16% 15% 16% 15% 16%;
    grid-gap: 18px;
    justify-content: center;
    justify-items: center;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .card-row {
    display: grid;
    grid-template-columns: 15% 16% 15% 16% 15% 16%;
    grid-gap: 17px;
    justify-content: center;
    justify-items: center;
  }
}
