.container {
  font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
  padding-top: 10px;
}

.card-title {
  font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
  font-weight: bold;
  background: linear-gradient(222deg, #2222a0, #a81c9c);
  box-shadow: inset 0px 3px 32px 1px rgb(0 0 0 / 76%);
  border-radius: 5px;
  max-width: 100%;
  cursor: pointer;
  width: 100%;
  padding: 10px 10px;
  color: white;
  font-size: 18px;
  display: block;
  text-decoration: none;
  margin: 0;
}

.card-title:hover {
  color: black;
}
