<div style="min-height: 100%" class="container main-r main block">
    <form class="reg-form" [formGroup]="emailForm" (ngSubmit)="postEmail()">
        <h1 class="reg-title">Восстановление пароля</h1>
      <div class="form-group">
        <label class="reg-label" for="inputUserEmail">Email</label>
        <input type="text" placeholder="Введите Email" class="form-control" formControlName="email">
        <div class="auth-error" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
          Заполните поле Email
        </div>
        <div class="auth-error" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
          Неправильный Email
        </div>
      </div>
      <button [disabled]="emailForm.invalid" type="submit" class="btn btn btn-primary btn-sub">
        Восстановить      
      </button>
    </form>
  
  </div>