<div style="min-height: 100%" class="container main-r main block">
    <h1 class="reg-title">Создать новый пароль</h1>
    <div [formGroup]="newPassForm" class="reg-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="reg-label" for="inputPassword">Пароль</label>
            <input type="password" placeholder="Введите Пароль" id="inputPassword" class="form-control"
                formControlName="password">
            <div class="auth-error" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
                Заполните поле Пароль
            </div>
            <div class="auth-error"
                *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] && (password.touched || password.dirty)">
                Пароль должен быть минимум 6 и максимум 15 символов
            </div>
        </div>
        <div class="form-group">
            <label class="reg-label" for="inputConfirmPassword">Подтвердить пароль</label>
            <input type="password" placeholder="Подтвердить пароль" class="form-control"
                formControlName="confirmPassword">
            <div class="auth-error"
                *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.touched || confirmPassword.dirty)">
                Заполните поле Подтвердить Пароль
            </div>
            <div class="auth-error" *ngIf="confirmPassword.errors?.MustMatch">
                Пароль не совпадает
            </div>
        </div>
        <button [disabled]="newPassForm.invalid" type="submit" class="btn btn btn-primary btn-sub">
            Изменить
        </button>
    </div>
</div>