.chat-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid;
    overflow: auto;
    max-height: 703px;
}



.avatars-comments {
    max-width: 71px;
    border: 1px solid transparent;
    border-radius: 67px;
    align-self: center;
}

p {
    font-size: 12px;
}

.user-status {
    margin-top: 14px;
    margin-left: 13px;
}

.chat-bloks {
    display: flex;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
}

.nav-item {
    color: grey;
    position: relative;
    border: none;
    cursor: pointer;
    &:hover {
        background: #3d3948;
    }
}

.delete-chat {
    background: none;
    color: #7b79e7;
    font-size: 18px;
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
    &:hover {
        color: red
    }
}

.message-username {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.user-block {
    margin-top: 10px;
    margin-left: 12px;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
}

.form-search {
    padding: 15px;
}

.nav-item:first-child {
    border:none;
}
.nav-item:last-child {
    border:none;
}

