<div class="container main">
    <form class="page" [formGroup]="settingForm">
        <div class="form-group">
            <label class="sett-label">Email</label>
            <input type="text" value="{{user?.email}}" class="form-control" disabled>
        </div>

        <div>
            <form class="page" [formGroup]="imageForm" (ngSubmit)="postPicture()">
                <h1 class="label-input">Загрузить картинку</h1>

                <input class="input-img" type="file" (change)="fileChangeEvent($event)" />

                <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" 
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" 
                    [resizeToWidth]="300" format="jpeg" 
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)" 
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>

                <img [src]="croppedImage" />

                <button mat-stroked-button class="user-btn" type="submit">Загрузить</button>
            </form>
        </div>

        <div class="form-group">
            <label class="sett-label" for="inputUserName">Ваше имя пользователя</label>
            <input type="text" id="inputUserName" value="{{user?.user_name}}" class="form-control"
                placeholder="karatel22" formControlName="user_name">
        </div>
        <div class="form-group">
            <label class="sett-label" for="inputName">Имя</label>
            <input type="text" id="inputName" value="{{user?.name}}" class="form-control" placeholder="Ваше Имя"
                formControlName="name">
        </div>

        <!-- <h1 class="label-input date">Ваш день рождения</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Ваш день рождения</mat-label>
                    <input formControlName="birth_date" value="{{user.birth_date}}" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="col-md-12">
                    <div class="form-group">
                        <h1 class="label-input">Страна</h1>
                        <ng-select [items]="data" bindLabel="name" bindValue="id" (change)="onChange($event)"
                            (keypress)="onKeyPressEvent($event)" labelForId="state" placeholder="Выберите страну"
                            clearAllText="Clear" formControlName="country"></ng-select>
                            <ng-template ng-multi-label-tmp let-items="items" >
                                <div class="ng-value" >
                                    <span class="ng-value-label">Select your choice... </span>
                                </div>
                               </ng-template>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h1 class="label-input">Город</h1>
                        <ng-select [items]="citymain" bindLabel="name" bindValue="id"
                            (keypress)="onKeyPressEventCity($event)" labelForId="state" placeholder="Выберите город"
                            clearAllText="Clear" formControlName="city_id"></ng-select>
                    </div>
                </div> -->

        <div style="display: grid">
            <label class="sett-label" for="inputAbout">Немного о себе</label>
            <textarea style="height:100% ;" value="{{user?.about}}" id="inputAbout" class="text-input" rows="6"
                placeholder="О себе" formControlName="about"></textarea>
        </div>
        <button mat-stroked-button class="user-btn" (click)="userChangeInfo(user)" type="submit">Изменить</button>
    </form>



    <form [formGroup]="passChangeForm" (ngSubmit)="passChage()" class="page">
        <h1 class="passname">Изменить пароль</h1>
        <div class="form-group">
            <label class="sett-label" for="inputPassword">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" formControlName="pass">
            <div class="auth-error" *ngIf="pass.errors?.['required'] && (pass.touched || pass.dirty)">
                Заполните поле Пароль
            </div>
            <div class="auth-error"
                *ngIf="pass.errors?.['minlength'] || pass.errors?.['maxlength'] && (pass.touched || pass.dirty)">
                Пароль должен быть минимум 6 и максимум 15 символов
            </div>
        </div>

        <div class="form-group">
            <label class="sett-label" for="inputConfirmPassword">Подтвердить пароль</label>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтвердить пароль"
                formControlName="confPass">
            <div class="auth-error" *ngIf="confPass.errors?.['required'] && (confPass.touched || confPass.dirty)">
                Заполните поле Подтвердить Пароль
            </div>
            <div class="auth-error" *ngIf="confPass.errors?.MustMatch">
                Пароль не совпадает
            </div>
        </div>
        <button mat-raised-button [disabled]="passChangeForm.invalid" class="user-btn" type="submit">Изменить</button>
    </form>
</div>