<div class="container main">
    <form [@enterAnimationPage] class="page" [formGroup]="settingForm">
        <div *ngIf="user.email" class="form-group">
            <label class="sett-label">Email</label>
            <input type="text" value="{{user?.email}}" class="form-control" disabled>
        </div>
        <div>
            <form class="page" [formGroup]="imageForm" (ngSubmit)="postPicture()">
                <h1 class="label-input">Загрузить картинку</h1>

                <input class="input-img" type="file" (change)="fileChangeEvent($event)" />

                <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" 
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" 
                    [resizeToWidth]="300" format="jpeg" 
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)" 
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>

                <img [src]="croppedImage" />

                <button mat-stroked-button class="user-btn" type="submit">Загрузить</button>
            </form>
        </div>

        <form [formGroup]="settingForm" (ngSubmit)="userChangeInfo()">
            <div class="form-group">
                <label class="sett-label" for="inputUserName">Ваше имя пользователя</label>
                <input type="text" id="inputUserName" class="form-control"
                    placeholder="Например:karatel22" formControlName="user_name">
                <div class="auth-error" *ngIf="user_name.errors?.['required'] && (user_name.touched || user_name.dirty)">
                    Заполните Имя пользователя
                  </div>
                  <div class="auth-error" *ngIf="user_name.errors?.['minlength'] && (user_name.touched || user_name.dirty)">
                    Слишком кароткое Имя пользователя
                  </div>
                  <div class="auth-error" *ngIf="user_name.errors?.['maxlength'] && (user_name.touched || user_name.dirty)">
                    Слишком длинное Имя пользователя
                  </div>
            </div>
            <div class="form-group">
                <label class="sett-label" for="inputName">Имя</label>
                <input type="text" id="inputName" class="form-control" placeholder="Ваше Имя"
                    formControlName="name">
            </div>
            <div style="display: grid">
                <label class="sett-label" for="inputAbout">Немного о себе</label>
                <textarea maxlength="400"  style="height:100% ;" id="inputAbout" class="text-input" rows="6"
                    placeholder="О себе" formControlName="about"></textarea>
            </div>
            <button [disabled]="settingForm.invalid" mat-stroked-button class="user-btn" type="submit">Изменить</button>
        </form>
    </form>



    <form *ngIf="user.email" [formGroup]="passChangeForm" (ngSubmit)="passChage()" class="page">
        <h1 class="passname">Изменить пароль</h1>
        <div class="form-group">
            <label class="sett-label" for="inputPassword">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" formControlName="pass">
            <div class="auth-error" *ngIf="pass.errors?.['required'] && (pass.touched || pass.dirty)">
                Заполните поле Пароль
            </div>
            <div class="auth-error"
                *ngIf="pass.errors?.['minlength'] || pass.errors?.['maxlength'] && (pass.touched || pass.dirty)">
                Пароль должен быть минимум 6 и максимум 15 символов
            </div>
        </div>

        <div class="form-group">
            <label class="sett-label" for="inputConfirmPassword">Подтвердить пароль</label>
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтвердить пароль"
                formControlName="confPass">
            <div class="auth-error" *ngIf="confPass.errors?.['required'] && (confPass.touched || confPass.dirty)">
                Заполните поле Подтвердить Пароль
            </div>
            <div class="auth-error" *ngIf="confPass.errors?.MustMatch">
                Пароль не совпадает
            </div>
        </div>
        <button mat-raised-button [disabled]="passChangeForm.invalid" class="user-btn" type="submit">Изменить</button>
    </form>
</div>