<div [@enterAnimationPage] class="block">
    <form [@enterAnimationPage] FormGroup="searhForm" (ngSubmit)="onSearch(search.value)" class="form-search form-inline form-search">
        <div class="form-group">
            <input class="form-control mr-sm-2 input-search" autofocus appAutoFocusDirective #search (keyup)="onKeyUpEvent($event)" placeholder="Поиск">
            <button mat-raised-button class="btn-search" type="submit">
                <i style="margin-bottom: 2px;" class="fas fa-search search-icon"></i><br/>
            </button>
        </div>
        <div [@enterAnimationPage] class="content-scroll" *ngIf="data">
            <div routerLink="/{{card.category}}/{{card.slug}}" href="/{{card.category}}/{{card.slug}}" *ngFor="let card of data.slice(0, 10)" class="card card-block">
                <div class="img-block">
                    <a routerLink="/{{card.category}}/{{card.slug}}" href="/{{card.category}}/{{card.slug}}"> <img onerror="if(this.src != 'error.jpg') this.src = 'assets/error-404.avif';"  class="cards-img" src="{{card.poster}}"></a>
                </div>
                <div class="card-head">
                        <a routerLink="/{{card.category}}/{{card.slug}}" href="/{{card.category}}/{{card.slug}}" class="film-title">{{card.title}}</a> 
                        <p class="card-genre"><span class="genre-div" *ngFor="let genre of card.genres.slice (0, 1);">{{genre.title}},</span> <span class="card-year">  {{card.year}}</span> </p>
                        <div *ngIf="card.imdb_rating" class="imdb">IMDB {{card.imdb_rating}}</div>
                <div *ngIf="card.shiki_rating">
                  <div class="shiki">SHIKIMORI {{card.shiki_rating}} </div>
                </div>
                </div>
            </div>
        </div>
            
    </form>
</div>