<div *ngIf="favoriteFilms && favoriteFilms.length > 0" style="min-height:100%; position: relative;" class="container main block">
  <div class="card-row">
      <app-card [@cardAnimation] [card]="card" [userFavorite]="userFavorite" (removeCard)="filterCard($event)" *ngFor="let card of favoriteFilms | paginate: { 
        id: 'listing_pagination',
        itemsPerPage: 48,
        currentPage: page, 
        totalItems: totalRecords
      }">
      </app-card>
      <div class="paginate">
        <pagination-controls id="listing_pagination" directionalLinks="true" (pageChange)="onPageChange($event)" previousLabel="Назад"
        nextLabel="Вперед">
        </pagination-controls>
      </div>
    </div>
  </div>

  <div style="min-height: 500px;" class="container main block" *ngIf="!(favoriteFilms && favoriteFilms.length > 0)">
    <p style="margin-left: 10px;">Здесь пока что ничего нету! Добавь себе новые избранные</p>
  </div>

