<div >
  <ngx-spinner
  bdColor='black'
  size="medium"
  color="#4c3f93"
  type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">Загрузка...</p>
</ngx-spinner>
</div>


<div style="min-height: 100%;position:relative" class="container main block">
<!--   <div>
    <h1>Реклама</h1>
  </div> -->
  <h1 class="card-title">Поиск</h1>
  
  <form [formGroup]="searhForm" (ngSubmit)="onPageChange(1)" class="form-search form-inline form-search">
    <div class="form-group">
      <input class="form-control mr-sm-2 input-search" formControlName="term" type="text" name="term" [(ngModel)]="term" placeholder="Поиск от 2 символов">
      <button mat-raised-button class="btn-search" type="submit">Поиск</button>
    </div>
  </form>
  <div class="sort-filter">
    <div class="filters">
      <select class="select" id="category-select" (change)="onFiltersChange()" [(ngModel)]="selectedCategory"
        name="category-select">
        <option value="undefined">Категория</option>
        <option *ngFor="let category of nameTypeRu" [value]="category.id">{{category.title}}</option>
      </select>
      <select class="select" id="country-select" (change)="onFiltersChange()" [(ngModel)]="selectedCountry"
        name="country-select">
        <option value="undefined">Страна</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.title}}</option>
      </select>
      <select class="select" id="year-select" (change)="onFiltersChange()" [(ngModel)]="selectedYear"
        name="year-select">
        <option value="undefined">Год</option>
        <option *ngFor="let year of years" [value]="year.value">{{year.title}}</option>
      </select>
      <select class="select" id="genre-select" (change)="onFiltersChange()" [(ngModel)]="selectedGenre"
        name="genre-select">
        <option value="undefined">Жанр</option>
        <option *ngFor="let genre of genres" [value]="genre.id">{{genre.title}}</option>
      </select>
    </div>
  </div>
  <div class="card-row">
    <app-card [card]="card" *ngFor="let card of data | paginate: { 
      id: 'listing_pagination',
      itemsPerPage: 48,
      currentPage: page,
      totalItems: totalRecords
    }">
    </app-card>
  </div>
  <div class="search-null" *ngIf="data.length === 0">
    <div class="error-window" *ngIf="data.length === 0">
      По запросу ничего не найдено
    </div>
  </div>
  <div *ngIf="data.length" class="paginate">
    <pagination-controls id="listing_pagination" directionalLinks="true" (pageChange)="onPageChange($event)"
      previousLabel="Назад" nextLabel="Вперед">
    </pagination-controls>
  </div>
</div>

<router-outlet></router-outlet>