<div style="min-height: 100%;position:relative" class="container main block">
  <h1 class="card-title">Поиск</h1>
  <form FormGroup="searhForm" (ngSubmit)="onPageChange(1)" class="form-search form-inline form-search">
    <div class="form-group">
      <input class="form-control mr-sm-2 input-search" type="text" name="term" [(ngModel)]="term" placeholder="Поиск">
      <button mat-raised-button class="btn-search" type="submit">Поиск</button>
    </div>
  </form>
  <div class="card-row">
    <app-card [card]="card" *ngFor="let card of data | paginate: { 
      id: 'listing_pagination',
      itemsPerPage: 48,
      currentPage: page,
      totalItems: totalRecords
    }">
    </app-card>
  </div>
  <div class="search-null" *ngIf="data.length === 0">
    <div class="error-window" *ngIf="data.length === 0">
      По запросу ничего не найдено
    </div>
  </div>
  <div *ngIf="data.length" class="paginate">
    
  
    <pagination-controls id="listing_pagination" directionalLinks="true" (pageChange)="onPageChange($event)"
      previousLabel="Назад" nextLabel="Вперед">
    </pagination-controls>
  </div>
</div>

<router-outlet></router-outlet>