<div routerLink="/cartoon/futurama-5413"  class="container voice-wrapper">
    <h1 class="voice">Смотри в нашей озвучке</h1>
    <div style="position: relative;
    top: 0px;">
        <div class="img-wrapper">
            <img onerror="if(this.src != 'error.jpg') this.src = 'assets/favicon.ico';" [defaultImage] ="defaultImage" alt="Футурама" [lazyLoad]="futurama"> 
        </div>
        
        <div class="voice-details">
            <div style="display: flex;margin-bottom: 10px;">
                <h1 class="voice-title">ФУТУРАМА 8 СЕЗОН</h1> 
                <h2 class="imdb-raiting">IMDB 8.5</h2>
            </div>
            <div style="display: flex;">
                <p class="voice-items">1999</p>
                <p class="voice-items">Соединенные Штаты</p>
            </div>
            <div style="display: flex;">
                <p class="voice-items">Приключения</p>
                <p class="voice-items">Комедия</p>
            </div>
            <p class="voice-overview">Накануне Нового 2000 года, неудачливый нью-йоркский разносчик пиццы Филип Джей Фрай, 
              которого только что бросила девушка, доставляет заказ в инновационную криогенную лабораторию, но понимает, 
              что его разыграли. По неосторожности он случайно попадает в камеру заморозки и приходит в сознание только
              31 декабря 2999 года, оказавшись в футуристическом мире.</p> 
        </div>
    </div>
    
          
  </div>