.voice-wrapper {
    height: 505px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 28px;
}

.voice {
    font-family: "TT Norms Pro Regular,Helvetica,sans-serif";
    font-weight: bold;
    background: linear-gradient(222deg, #2222a0, #a81c9c);
    box-shadow: inset 0px 3px 32px 1px rgba(0, 0, 0, 0.76);
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
    display: block;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px
}

.voice-title {
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    font-size: 27px;
}

.voice-details {
    position: absolute;
    top: 0px;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    height: 100%;
    background: rgb(0 0 0 / 72%);
}

.voice-overview {
    color: #f5f5fffc;
    max-width: 543px;
}

img {
    width: 100%;
}

.voice-original_title {
    font-weight: bold;
    color: white;
}

.voice-items {
    border: 1px solid #ffffff4a;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.imdb-raiting {
    font: 13px/1 Impact, "HelveticaNeue-CondensedBold", sans-serif;
    color: #000;
    text-shadow: 0 0 0.15em #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    padding: 9px 3px 9px 3px;
    border-radius: 0.15em;
    background: radial-gradient(#ffffb8, #ce981d);
    width: 100%;
    max-width: 87px;
    height: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    margin-left: 19px;

    &:hover {
        background: radial-gradient(lighten(#ffffb8, 10%), lighten(#ce981d, 10%));
    }
}

p {
    font-size: 14px;
    color: white;
}

@media all and (max-width: 900px) {
    .voice-details {
        position: absolute;
        top: 0px;
        left: 0;
        height: 100%;
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.72);
    }

    .voice-wrapper {
        padding: 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        height: 100%;
    }

    .imdb-raiting {
        font: 13px/1 Impact, "HelveticaNeue-CondensedBold", sans-serif;
        color: #000;
        text-shadow: 0 0 0.15em #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: bottom;
        padding: 3px 0px 3px 0px;
        border-radius: 0.15em;
        background: radial-gradient(#ffffb8, #ce981d);
        width: 100%;
        max-width: 65px;
        height: 100%;
        text-align: center;
        font-size: 13px;
        margin: 0;
        margin-left: 10px;
    }

    .voice-title {
        font-weight: 700;
        color: #fff;
        font-size: 16px;
    }

    p {
        font-size: 10px;
        color: #fff;
    }
}