<!-- <div class="container">
  <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  </swiper>
</div> -->

<div class="container block">
  <h1 class="screen-title">Скриншоты</h1>
  <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <img class="img-fluid" src="https://p4.wallpaperbetter.com/wallpaper/61/600/47/anya-taylor-joy-women-actress-movies-movie-screenshots-hd-wallpaper-preview.jpg">
    </div>    
  </ng-template>
  </swiper>
</div>
